# Python
__pycache__/
*.pyc

# Data protection
data/*.zip
data/*.csv
data/*.txt
data/*

experiments/results/*
experiments/graphs/*

# OS files
.DS_Store

# Virtual env
venv/
env/

# PyCharm / VSCode
.idea/
.vscode/
