###############################################
# DATASET: Keep the local zipped dataset
###############################################
data/*
!data/ikrae_kt3_clean.zip

###############################################
# EXPERIMENTS
###############################################
experiments/results/*
!experiments/results/.gitkeep

###############################################
# PYTHON
###############################################
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/

###############################################
# LOGS
###############################################
*.log
logs/

###############################################
# OS
###############################################
.DS_Store
Thumbs.db

###############################################
# IDE / EDITORS
###############################################
.vscode/
.idea/
*.swp
*.swo

###############################################
# JAVA / JARS
###############################################
lib/hermit/*.jar
!lib/hermit/HermiT.jar

###############################################
# TEMP
###############################################
*.tmp
temp/

*.csv
data/
datasets/

